/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  h2 , .menu h3 , .sita a{
    font-size:35px;
  }

  h3 , .menu p , .food p{
  font-size: 30px;
  }

  h4 , .ji{
    font-size:25px;
  }

  h5{
    font-size: 20px;
  }

  .home{
    height: 250px;
  }

  .home h3{
    position: absolute;
    top:200px;
    left:30px;
  }

  .osinagaki{
    padding-bottom:160px;
  }

  .navi{
    height:165px;
  }

  .tori , .nama , .vege , .niku , .orignal , .sina , .rice , .desert{
    margin:34px 0;
  }

  .list{
    margin:8px 0;
  }

  .list h4{
    margin:3px 9px ;
  }

  .yakitori , .nasu , .sasami , .be , .maru , .yuzu{
    display: none;
  }

  .yakitori2 , .nasu2 , .sasami2 , .be2 , .maru2 , .yuzu2{
    display: block;
  }

  .yakitori2 , .sasami2 , .nasu2 , .be2 , .yuzu2{
    float:right;
    margin-right:200px;
  }

  .maru2{
    float:right;
    margin-right:50px;
  }

}
/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  h2 , .sita a{
    font-size:30px;
  }

  h3 , .food p{
  font-size: 25px;
  }

  h4 , .ji{
    font-size:20px;
  }

  h5{
    font-size: 15px;
  }

  header span  {
    font-size: 40px;
  }

.menu h3{
  font-size:20px;
}

.menu p{
  font-size:15px;
}

  header p{
    font-size: 60px;
      position :fixed;
      top: -20px;
      right:-5px;
  }

  header{
    height:80px;
  }

  .yes{
    display: none;
  }

  .no{
    display: block;
  }

  .lo2{
    position: absolute;
    top:-1px;
  }

  .home{
    height: 160px;
  }

  .home h3{
    position: absolute;
    top:110px;
    left:20px;
  }

  .concept , .time , .access{
    height:100%;
  }

  .menu{
    width:180px;
    background-color: red;
    opacity: 0.7;
    padding: 10px;
    line-height: 50px;
    padding-top: 25px;
  }

  footer{
    height:180px;
}

.osinagaki{
  padding-bottom:120px;
}

.tori , .nama , .vege , .niku , .orignal , .sina , .rice , .desert{
  margin:25px 0;
}

.food{
  padding-top:50px;
}

.list{
  margin:7px 0;
}

.list h4{
  margin:2px 8px ;
}

.yakitori2 , .sasami2 , .nasu2 , .be2 , .yuzu2 , .maru2{
  float:right;
  margin-right:15px;
}

.bear , .fruit{
  margin:40px 0 0 0;
}

.nihon , .tyu{
  margin-top:0;
}

}
